In [1]:
import pandas as pd
import numpy as np
import json 
import re

In [6]:
path = 'data_adidas_2.json'
df = pd.read_json(path)
df.sample(3)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,category,cloth_gender
624,InStock,NaN,adidas,Wonder Beige,USA,A FLEECY SOFT LOOSE-FIT PULLOVER MADE IN PART ...,"[https://assets.adidas.com/images/w_600,f_auto...",PREMIUM ESSENTIALS HALF ZIP PULLOVER,$100,$100,13,2023-12-11 09:48:30,https://www.adidas.com/us/premium-essentials-h...,Clothing,Men
688,InStock,NaN,adidas,Crew Navy S21,USA,CLASSIC TRAINING SHORTS MADE WITH RECYCLED MAT...,"[https://assets.adidas.com/images/w_600,f_auto...",AEROREADY DESIGNED TO MOVE WOVEN SPORT SHORTS,$24,$30,2462,2023-12-11 11:15:55,https://www.adidas.com/us/aeroready-designed-t...,Clothing,Men
146,InStock,NaN,adidas,Black / Black,USA,A SLIM-FIT WORKOUT TEE MADE IN PART WITH RECYC...,"[https://assets.adidas.com/images/w_600,f_auto...",DESIGNED FOR TRAINING ADISTRONG WORKOUT TEE,$65,$65,0,2023-12-11 05:10:34,https://www.adidas.com/us/designed-for-trainin...,Clothing,Men

In [3]:
# Thay thế các dấu /n trong description
descrip =  []
for index,item in enumerate(df.description):
    try:
        descrip.append(re.sub("\n"," ",item))
    except:
        descrip.append(item)

len(descrip)

919

In [4]:
df.description = descrip
df.sample(2)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,category,cloth_gender
93,InStock,4.8,adidas,Black,USA,A COMFORTABLE TEE WITH LONG SLEEVES AND FRESH ...,"[https://assets.adidas.com/images/w_600,f_auto...",ADICOLOR CLASSICS 3-STRIPES LONG SLEEVE TEE,$45,$45,142,2023-12-11 03:49:21,https://www.adidas.com/us/adicolor-classics-3-...,Clothing,Men
646,InStock,4.8,adidas,Shadow Red,USA,None,"[https://assets.adidas.com/images/w_600,f_auto...",ADICOLOR CLASSICS WINDBREAKER,$60,$100,58,2023-12-11 11:09:18,https://www.adidas.com/us/adicolor-classics-wi...,Clothing,Men

In [5]:
price =  []
for index,item in enumerate(df.price):
    try:
        price.append(int(re.sub(r'\D', '', item)))
    except:
        price.append(item)

df.price = price
len(price)

919

In [6]:
df.sample(2)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,category,cloth_gender
537,InStock,NaN,adidas,None,USA,AN INSULATED Y-3 JACKET. Drawing on vintage ut...,"[https://assets.adidas.com/images/w_600,f_auto...",None,700,$700,0,2023-12-11 08:09:25,https://www.adidas.com/us/y-3-bomber-jacket/IP...,Clothing,Y-3
280,InStock,NaN,adidas,Black,USA,A MOISTURE-ABSORBING TENNIS TEE MADE WITH NATU...,"[https://assets.adidas.com/images/w_600,f_auto...",TENNIS NEW YORK FREELIFT TEE,46,$65,29,2023-12-11 06:05:29,https://www.adidas.com/us/tennis-new-york-free...,Clothing,Men

In [7]:
origin_price =  []
for index,item in enumerate(df.original_price):
    try:
        origin_price.append(int(re.sub(r'\D', '', item)))
    except:
        origin_price.append(item)

df.original_price = origin_price

In [8]:
df.sample(2)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,category,cloth_gender
870,InStock,NaN,adidas,Black,USA,RUNNING SHORTS WITH INNER TIGHTS THAT FUSE STY...,"[https://assets.adidas.com/images/w_600,f_auto...",DESIGNED 4 RUNNING 2-IN-1 SHORTS,55,55,146,2023-12-11 12:30:29,https://www.adidas.com/us/designed-4-running-2...,Clothing,Men
440,InStock,NaN,adidas,Savanna,USA,AN ADIDAS HOODIE MEANT TO BE SPOTTED. From run...,"[https://assets.adidas.com/images/w_600,f_auto...",GRAPHICS CAMO INFILL HOODIE,70,70,32,2023-12-11 07:04:26,https://www.adidas.com/us/graphics-camo-infill...,Clothing,Men

In [9]:
df.dtypes

availability              object
avg_rating               float64
brand                     object
color                     object
currency                  object
description               object
images                    object
name                      object
price                      int64
original_price             int64
review_count               int64
scraped_at        datetime64[ns]
url                       object
category                  object
cloth_gender              object
dtype: object

In [10]:
# Các cột cần chuyển về chữ thường
list_columns_convert_lower = ['availability', 'brand', 'color', 'currency','description','name','category','cloth_gender']
for col in list_columns_convert_lower:
    df[col] = df[col].str.lower()

In [11]:
df['avg_rating'].fillna(3, inplace=True)

# Xóa hàng nào có NaN trong cột 'name'
df.dropna(subset=['name'], inplace=True)

# Kiểm tra lại DataFrame sau khi đã chỉnh sửa
nan_counts = df.isna().sum()

print(nan_counts)

availability      0
avg_rating        0
brand             0
color             0
currency          0
description       6
images            0
name              0
price             0
original_price    0
review_count      0
scraped_at        0
url               0
category          0
cloth_gender      0
dtype: int64

In [12]:
df['description'].fillna("", inplace=True)
nan_counts = df.isna().sum()

print(nan_counts)

availability      0
avg_rating        0
brand             0
color             0
currency          0
description       0
images            0
name              0
price             0
original_price    0
review_count      0
scraped_at        0
url               0
category          0
cloth_gender      0
dtype: int64

In [13]:
df.to_csv('data_crawl.csv')

In [14]:
df.to_json("data.json")