In [1]:
import pandas as pd
import numpy as np
import json 
import re

In [2]:
path = 'data_adidas_2.json'
df = pd.read_json(path)
df.sample(3)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,category,cloth_gender
630,InStock,NaN,adidas,Sand Strata,USA,A WIND-RESISTANT HOODIE MADE WITH RECYCLED MAT...,"[https://assets.adidas.com/images/w_600,f_auto...",MYSHELTER WINDWEAVE HOODED PULLOVER,$112,$160,7,2023-12-11 09:51:58,https://www.adidas.com/us/myshelter-windweave-...,Clothing,Men
829,InStock,4.3,adidas,White,USA,"SHORTS THAT SUIT EVERY GAME, MADE IN PART WITH...","[https://assets.adidas.com/images/w_600,f_auto...",CLUB TENNIS STRETCH WOVEN SHORTS,$35,$50,14,2023-12-11 12:17:40,https://www.adidas.com/us/club-tennis-stretch-...,Clothing,Men
198,InStock,NaN,adidas,Team Navy / Team Colleg Burgundy / Multi,USA,A HOCKEY-STYLE T-SHIRT FOR AVALANCHE FANS.\nBe...,"[https://assets.adidas.com/images/w_600,f_auto...",AVALANCHE HOCKEY TEE,$49,$70,3,2023-12-11 05:44:13,https://www.adidas.com/us/avalanche-hockey-tee...,Clothing,Men

In [3]:
# Thay thế các dấu /n trong description
descrip =  []
for index,item in enumerate(df.description):
    try:
        descrip.append(re.sub("\n"," ",item))
    except:
        descrip.append(item)

len(descrip)

919

In [4]:
df.description = descrip
df.sample(2)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,category,cloth_gender
122,InStock,4.7,adidas,Semi Pulse Lilac F22,USA,A MOISTURE-ABSORBING TENNIS TEE MADE WITH NATU...,"[https://assets.adidas.com/images/w_600,f_auto...",TENNIS NEW YORK FREELIFT TEE,$26,$65,29,2023-12-11 05:06:57,https://www.adidas.com/us/tennis-new-york-free...,Clothing,Men
812,InStock,NaN,adidas,White / Black,USA,VERSATILE WORKOUT SHORTS MADE WITH RECYCLED MA...,"[https://assets.adidas.com/images/w_600,f_auto...",TRAIN ESSENTIALS PIQUÉ 3-STRIPES TRAINING SHORTS,$28,$35,216,2023-12-11 12:12:02,https://www.adidas.com/us/train-essentials-piq...,Clothing,Men

In [5]:
price =  []
for index,item in enumerate(df.price):
    try:
        price.append(int(re.sub(r'\D', '', item)))
    except:
        price.append(item)

df.price = price
len(price)

919

In [6]:
df.sample(2)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,category,cloth_gender
524,InStock,4.7,adidas,White,USA,"A SLIM-FITTING LAYER FOR TRAINING, MADE WITH R...","[https://assets.adidas.com/images/w_600,f_auto...",TIRO 23 LEAGUE TRAINING JACKET,44,$55,256,2023-12-11 07:51:22,https://www.adidas.com/us/tiro-23-league-train...,Clothing,Men
329,InStock,NaN,adidas,Collegiate Navy,USA,A GOLF PULLOVER WITH A KANGAROO POCKET. All th...,"[https://assets.adidas.com/images/w_600,f_auto...",GO-TO 1/2-ZIP PULLOVER,110,$110,15,2023-12-11 06:24:10,https://www.adidas.com/us/go-to-1-2-zip-pullov...,Clothing,Men

In [7]:
origin_price =  []
for index,item in enumerate(df.original_price):
    try:
        origin_price.append(int(re.sub(r'\D', '', item)))
    except:
        origin_price.append(item)

df.original_price = origin_price

In [8]:
df.sample(2)

,availability,avg_rating,brand,color,currency,description,images,name,price,original_price,review_count,scraped_at,url,category,cloth_gender
807,InStock,NaN,adidas,Black,USA,"MOISTURE-WICKING SUPPORTER SHORTS FOR MAN UTD,...","[https://assets.adidas.com/images/w_600,f_auto...",MANCHESTER UNITED 23/24 AWAY SHORTS,60,60,2,2023-12-11 12:10:50,https://www.adidas.com/us/manchester-united-23...,Clothing,Men
469,InStock,NaN,adidas,Legend Ink,USA,A LAID-BACK SWEATSHIRT MADE IN COLLABORATION W...,"[https://assets.adidas.com/images/w_600,f_auto...",ADIDAS X PARLEY SWEATSHIRT (GENDER NEUTRAL),48,120,26,2023-12-11 07:15:46,https://www.adidas.com/us/adidas-x-parley-swea...,Clothing,Training

In [9]:
df.dtypes

availability              object
avg_rating               float64
brand                     object
color                     object
currency                  object
description               object
images                    object
name                      object
price                      int64
original_price             int64
review_count               int64
scraped_at        datetime64[ns]
url                       object
category                  object
cloth_gender              object
dtype: object

In [10]:
# Các cột cần chuyển về chữ thường
list_columns_convert_lower = ['availability', 'brand', 'color', 'currency','description','name','category','cloth_gender']
for col in list_columns_convert_lower:
    df[col] = df[col].str.lower()

In [11]:
df.to_csv('data_crawl.csv')